.container {
   display: flex;
}

.maincontainer {
   margin: 10% 7% 3% 7%;
}

.maintitle {
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #3a3d42;
}

.desctitle {
   padding-top: 40px;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: rgba(58, 61, 66, 0.6);
}

.inputpin {
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-bottom: 90px;
}
.singleInput {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   border: 1px solid rgba(169, 169, 169, 0.6);
   box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
   width: 53px;
   height: 65px;
}

.inputpin > input {
   height: 65px;
   width: 53px;
   border: none;
   border-radius: 10px;
   text-align: center;
   font-weight: 700;
   font-size: 1.5rem;
   box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
   border: 1px solid rgba(169, 169, 169, 0.6);
}

.inputpin > input:focus {
   outline: 1px solid #6379f4;
}

.singleInput > input {
   width: 20px;
   height: 20px;
   border: none;
   font-size: 1.3rem;
}

.singleInput > input:focus {
   outline: none;
}

.signupbutton {
   margin-top: 100px;
   border: none;
   border-radius: 15px;
   height: 70px;
   width: 100%;
   cursor: pointer;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: #88888f;
}

@media (max-width: 834px) {
   .container {
      display: block;
   }
}
