.container {
   display: flex;
}

.maincontainer {
   margin: 50px;
   padding: 50px;
   background: #ffffff;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
   border-radius: 15px;
   width: 60%;
}

.userinfo {
   text-align: center;
}

.name {
   margin: 0;
   font-weight: 700;
   font-size: 24px;
   line-height: 32px;
   text-align: center;
   color: #4d4b57;
}

.phone {
   margin: 0;
   font-weight: 400;
   font-size: 16px;
   line-height: 27px;
   text-align: center;
   color: #7a7886;
}

.maininformation {
   display: flex;
   margin-top: 40px;
   justify-content: center;
   align-items: center;
}

.btninformation {
   display: flex;
   justify-content: space-between;
   background-color: #e5e8ed;
   padding: 10px;
   height: 50px;
   width: 50%;
   border-radius: 15px;
   cursor: pointer;
}

.textinformation {
   font-weight: 700;
   font-size: 16px;
   line-height: 28px;
   color: #4d4b57;
}

/* User Info */
.firstNameInfo {
   margin-top: 25px;
   padding: 15px;
   background-color: #ffffff;
   width: 100%;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
   border-radius: 15px;
}

.descprofile {
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   color: #7a7886;
}

.firstName {
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: #7a7886;
}

.nameInfo {
   font-weight: 700;
   font-size: 18px;
   line-height: 30px;
   color: #514f5b;
}

.firstNameInfoNumber {
   display: flex;
   justify-content: space-between;
   margin-top: 25px;
   padding: 15px;
   background-color: #ffffff;
   width: 100%;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
   border-radius: 15px;
}

.manage {
   padding-top: 20px;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   color: #6379f4;
   cursor: pointer;
}

/* editnumber */

.button {
   margin-top: 50px;
   font-size: 18px;
   font-weight: 700;
   text-align: center;
   background: #6379f4;
   box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
   border-radius: 12px;
   color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   cursor: pointer;
   border: none;
}

.inputContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 5%;
}

.inputContainer label {
   display: flex;
   align-items: center;
}

.inputContainer input {
   padding: 5px 2.5%;
   border: none;
   height: 60px;
   width: 100%;
   font-size: 16px;
   font-weight: 400;
   color: #3a3d42;
   background: #fafcff;
}

.inputContainer input::placeholder {
   color: rgba(169, 169, 169, 0.8);
}

.inputContainer input:focus {
   outline: none;
}

.inputContainer input::-webkit-outer-spin-button,
.inputContainer input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
