.container {
   margin: 50px 0px 50px 150px;
   height: 100%;
}

.maincontainer {
   background-color: #ffffff;
   border-radius: 15px;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
   padding: 30px;
}

.main {
   display: flex;
   margin: 30px 0px;
   cursor: pointer;
}

.dashboard {
   margin-left: 30px;
   font-weight: 700;
   font-size: 18px;
   line-height: 31px;
   color: rgba(58, 61, 66, 0.8);
}

.mainlogout {
   display: flex;
   margin-top: 330px;
}

.logout {
   margin-left: 30px;
   font-weight: 700;
   font-size: 18px;
   line-height: 31px;
   color: rgba(58, 61, 66, 0.8);
}

.dashboardActive {
   margin-left: 30px;
   font-weight: 700;
   font-size: 18px;
   line-height: 31px;
   color: #6379f4;
}

@media (max-width: 834px) {
   .container {
      margin: 40px 40px 40px 40px;
   }
}
